body {
    background-color: transparent;
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.time-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#current-time {
    color: black;
    font-size: 3em;
    margin: 0;
}
